body {
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Poppins
}

p {
  font-family: Roboto;
}

.navbar-default {
  background: #fff;
  border: 0;
  font-family: Poppins;
}

.navbar-brand {
  font-size: 30px;
  color: #000!important;
  font-weight: bold;
}

#navbar ul li a {
  color: black;
  font-weight: bold;
}

#navbar ul li a:hover {
  color: #40E0D0;
}

/**Navbar********************/

header {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../img/profil.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-bottom: 250px;
}

#home h1 {
  padding-top: 250px;
  font-size: 90px;
  color: white;
  font-family: Poppins;
}

#home h2 {
  color: white;
}

/**Header********************/

#about {
  margin-top: 50px;
  margin-bottom: 50px;
}

hr {
  width: 30px;
  height: 3px;
  background: #494949;
  border: 0;
  margin: 0 auto 40px auto;
}

#about img {
  width: 200px;
}

.about-box {
  border: 15px solid #40E0D0;
  padding: 0;
  margin: 0 100px 0 100px;
}

.btn {
  background-color: white;
  border: 1px solid dimgrey;
  padding: 10px 25px;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 15px;
  margin-bottom: 20px;
}

.btn:hover {
  color: black;
  background-color: #40E0D0;
}

/**About********************/

#experiences {
  margin-top: 50px;
  margin-bottom: 20px;
  background: #40E0D0;

}

.experiences-box {
  border: 15px solid white;
  padding: 20px 0;
  margin: 20px 100px 30px 100px;
}

/**Experiences********************/


#skills {
  margin-top: 50px;
  font-weight: bold;
  overflow-x: hidden;
}

.skills-details {
  border: 15px solid #40E0D0;
  padding: 20px 0;
  margin: 20px 100px 30px 100px;
}

#skill-bar {
  margin-left: 0px;
}

.progress
{
  height: 50px;
  border-radius: 50px;
  box-shadow: none;
  padding: 5px;
  margin-bottom: 10px;
  overflow: visible;
}

.progress .progress-bar {
  box-shadow: none;
  position: relative;
  border-radius: 20px;
  animation: animate-positive 2s;
}

.progress .progress-title
{
  font-size: 17px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 12px;
  left: 15px;
}

.progress .progress-value
{
  width: 45px;
  height: 33px;
  line-height: 35px;
  background: #f5f5f5;
  border-radius: 50px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 14px;
  color: #e95095;
  position: absolute;
  top: 4px;
  right: 4px;
}

.progress.yellow .progress-value
{
  color: #ffcc00;
}

.progress.blue .progress-value
{
  color: #7049ba;
}

.progress.green .progress-value
{
  color: #5fad56;
}

@keyframes animate-positive
{
  0%
  {
    width: 0;
  }
}

/**Skills********************/

footer {
  margin-top: 30px;
  background: #40E0D0;
  padding: 10px;
}

#footer-first {
  margin-top: 15px;
  margin-bottom: 30px;
}

#footer-second {
  border-top: 3px solid white;
  padding-top: 15px;
}

.footer-social i {
  font-size: 240%;
  color: black;
  margin-right: 25px;
}

.social-icon i:hover {
  color: white;
}

.footer-pages a {
  text-decoration: none;
  color: black;
  margin-right: 15px;
}

.footer-pages a:hover {
  color: white;
}
